{% extends 'base.html' %}

{% block head %}

{% endblock head %}


{% block body %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<h1>
    Scrapper
</h1>
<form id="upload-form" action="/start" method="post" enctype="multipart/form-data">
    <div class="d-flex justify-content-center align-items-center">
        <div class="inner-container w-50 px-2">
            <div class="form-group">
                <!-- File Upload with drag and drop -->
                <!-- <label for="file">Upload File</label> -->
                <div id="drop-zone">
                    <p>Drag and drop files here or click to choose files</p>
                    <input type="file" id="file-input" name="myfile" style="display: none;">
                </div>
            </div>
            <div class="button-container">
                <button class="primary-button" type="submit">
                    Upload
                    <!-- fontawesome icon -->
                    <i class="fas fa-upload"></i>
                    <!-- spinning icon animation -->
                    <!-- <i class="fas fa-spinner fa-spin"></i> -->
                </button>
                <button class="primary-button" type="reset">
                    Reset
                    <!-- fontawesome icon -->
                    <i class="fas fa-redo"></i>
                </button>

                <button class="primary-button" type="pause" disabled>
                    Pause
                    <!-- fontawesome icon -->
                    <i class="fas fa-pause"></i>
                </button>


            </div>
        </div>
    </div>

</form>
<div id="progress-bar-container"
    class="progress-bar-container d-flex justify-content-center align-items-center flex-column">
    <!-- progress bar -->
    <div class="progress w-50">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
    </div>
    <span id="progress-status">
        Please Select Excel File to Upload
    </span>
</div>
<div class="row border-top mt-3">
    <div class="col-md-6 border-end">
        <div class="accordion accordion-flush mx-2" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h4>Files</h4>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div>
                        <ul id="filelist">
                            <li>
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h4>Runtime Settings</h4>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <!-- error messge from sesssion -->
                        {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                        {% endif %}
                        <form action="/store-run-time-config" method="post" class="text-start">
                            <div class="form-group mb-3">
                                <label>
                                    Sleep Between SKU
                                </label>
                                <input type="number" name="sleep_between_sku" class="form-control" placeholder="Space Between SKU" value="{{  sleep_between_sku }}">
                            </div>
                            <!-- batch size -->
                            <div class="form-group mb-3">
                                <label>
                                    Batch Size
                                </label>
                                <input type="number" name="batch_size" class="form-control" placeholder="Batch Size" value="{{  batch_size }}">
                            </div>
                            <!-- error_sleep_second -->
                            <div class="form-group mb-3">
                                <label>
                                    Error Sleep Second (Comma Seperated)
                                </label>
                                <input type="text" name="error_sleep_second_list" class="form-control" placeholder="Error Sleep Second" value="{{  error_sleep_second_list }}">
                            </div>
                            <!-- password -->
                            <div class="form-group mb-3">
                                <label>
                                    Password
                                </label>
                                <input type="password" name="security_password" class="form-control" placeholder="Password">
                            </div>
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h4>
                            Main Settings
                        </h4>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <!-- error messge from sesssion -->
                        {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                        {% endif %}
                        <form action="/store-main-config" method="post" class="text-start">
                            <div class="form-group mb-3">
                                <label>
                                    Company Name
                                </label>
                                <input type="text" name="company_name" class="form-control" placeholder="Company Name" value="{{  company_name }}">
                            </div>
                            <!-- batch size -->
                            <div class="form-group mb-3">
                                <label>
                                    New Password
                                </label>
                                <input type="password" name="new_password" class="form-control" placeholder="New Password">
                            </div>
                            <div class="form-group mb-3">
                                <label>
                                    Password
                                </label>
                                <input type="password" name="security_password" class="form-control" placeholder="Password">
                            </div>
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-2 ps-4">
        <h4>HS Code Status</h4>
        <table class="table table-bordered w-75">
            <thead class="table-dark">
                <tr>
                    <th>SKU</th>
                    <th>Status</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody id="product_table_body">
                <tr>
                    <td colspan="3">
                        No Data Found
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    var raw_input = 0
    uploadFileList = [];
    var security_password = "";
    const dropZone = document.getElementById('drop-zone');
    // Prevent default drag behaviors
    dropZone.addEventListener('dragover', (e) => {
        e.preventDefault();
    });
    dropZone.addEventListener('dragleave', (e) => {
        e.preventDefault();
    });
    // Handle dropped files
    dropZone.addEventListener('drop', (e) => {
        e.preventDefault();
        const files = e.dataTransfer.files;
        handleFiles(files);
    });
    // Handle file selection from the file input
    const fileInput = document.getElementById('file-input');
    fileInput.addEventListener('change', (e) => {
        const files = e.target.files;
        handleFiles(files);
    });
    // Handle selected files or dropped files
    function handleFiles(files) {
        // check if file is excel 
        if (files[0].type != 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
            alert('You can only upload excel file');
            return;
        }
        // update the text to show file name
        $('#drop-zone p').text(files[0].name);

        // add file to uploadFileList
        uploadFileList.push(files[0]);
    }

    dropZone.addEventListener('click', () => {
        fileInput.click();
    });


    // when use click submit, make ajax request and submit data to /start 
    $('form#upload-form').submit(function (e) {
        e.preventDefault();
        // check if file is selected file list is empty
        if (uploadFileList.length == 0) {
            alert('Please select a file to upload');
            return;
        }
        // take passwod as input , with hiddne input 
        if (inputPassword()) {
            // create ajax request to /submit 
            console.log('submitting file');
            var formData = new FormData();
            // append file to form data
            formData.append('file', uploadFileList[0]);
            formData.append('security_password', security_password);

            // disable upload button and set spinner 
            $('button[type="submit"]').html('Processing <i class="fas fa-spinner fa-spin"></i>');

            $.ajax({
                url: '/start',
                type: 'POST',
                data: formData,
                success: function (data) {
                },
                error: function (data) {
                    // console.log(data);
                    // if data.status == 401, then show alert and reload the page 
                    if (data.status == 401) {
                        alert('Invalid Password');
                        location.reload();
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }
    });

    // onclick reset button, post request to /reset 
    $('button[type="reset"]').click(function (e) {
        if (!confirm("Do you want to reset all the data?")) {
            return;
        }

        inputPassword();
        // disable reset button
        $('button[type="reset"]').prop('disabled', true);

        e.preventDefault();
        $.ajax({
            url: '/reset',
            type: 'POST',
            data: {
                security_password: security_password
            },
            success: function (data) {
                // console.log(data);
                // reload the page 
                // location.reload();
            },
            error: function (data) {
                if (data.status == 401) {
                    alert('Invalid Password');
                    location.reload();
                }
            },
            cache: false,
        });
    });
    // click on pause 
    $('button[type="pause"]').click(function (e) {
        e.preventDefault();
        inputPassword();
        // if text is pause, then make ajax call to /pause 
        button_text = $('button[type="pause"]').text();
        // strip of space and \n 
        button_text = button_text.replace(/\s/g, '');
        if (button_text == 'Pause') {
            // disable pause button
            $('button[type="pause"]').prop('disabled', true);
            // make ajax call to /pause 
            $.ajax({
                url: '/pause',
                type: 'POST',
                data: {
                    security_password: security_password
                },
                success: function (data) {
                },
                error : function (data) {
                    if (data.status == 401) {
                        alert('Invalid Password');
                        location.reload();
                    }
                },
                cache: false,
            });
        } else if (button_text == 'Resume') {
            // disable pause button
            $('button[type="pause"]').prop('disabled', true);
            // make ajax call to /resume 
            $.ajax({
                url: '/resume',
                type: 'POST',
                data: {
                    security_password: security_password
                },
                success: function (data) {
                },
                error : function (data) {
                    if (data.status == 401) {
                        alert('Invalid Password');
                        location.reload();
                    }
                },
                cache: false,
            });
        }
    });
    function inputPassword() {
        if (security_password == "") {
            security_password = prompt("Please enter your password", "");
            if (security_password == null || security_password == "") {
                alert("Please enter your password");
                return false;
            }
        }
        return true;
    }
    function deleteFile(e) {
        e.preventDefault();
        // get file name 
        console.log('delete file');
        filename = $(this).data('filename');
        // make ajax call to /delete-file 
        $.ajax({
            url: '/delete-file',
            type: 'POST',
            data: {
                filename: filename
            },
            success: function (data) {
                console.log(data);
                // reload the page 
                location.reload();
            },
            error: function (data) {
                if (data.status == 401) {
                    alert('Invalid Password');
                    location.reload();
                }
            },
            cache: false,
        });
    }
    $(document).on('click', '.delete-link', deleteFile);
    // update progress bar and status
    function updateProgress() {
        $.ajax({
            url: '/progress',
            type: 'GET',
            success: function (data) {
                // if data.application_state.application_state_code == 0, then hide the progrss bar 
                // data.application_state.application_state_code = raw_input
                if (data.application_state.application_state_code == 0) {
                    // remove d-flex class if preset n
                    if ($('#progress-bar-container').hasClass('d-flex')) {
                        $('#progress-bar-container').removeClass('d-flex');
                    }
                    // set d-none class 
                    $('#progress-bar-container').addClass('d-none');
                    // remove spinner icon and add upload icon
                    $('button[type="submit"]').html('Upload <i class="fas fa-upload"></i>');

                    // disable reset button
                    $('button[type="reset"]').prop('disabled', true);
                    // disable pause button
                    $('button[type="pause"]').prop('disabled', true);
                    // enable upload button
                    $('button[type="submit"]').prop('disabled', false);
                } else if (data.application_state.application_state_code == 1) {
                    // remove upload icon and add spinning icon
                    $('button[type="submit"]').html('Processing <i class="fas fa-spinner fa-spin"></i>');
                    // remove d-none class if present
                    if ($('#progress-bar-container').hasClass('d-none')) {
                        $('#progress-bar-container').removeClass('d-none');
                    }
                    // set d-flex class
                    $('#progress-bar-container').addClass('d-flex');
                    // update progress bar
                    $('.progress-bar').css('width', "100%");
                    // update status
                    $('#progress-status').text('Processing Excel File');

                    b_list = ['bg-success', 'bg-info', 'bg-warning', 'bg-danger', 'bg-dark', 'bg-primary', 'bg-secondary'];

                    // remove all classes from progress bar
                    b_list.forEach(function (item, index) {
                        if ($('.progress-bar').hasClass(item)) {
                            $('.progress-bar').removeClass(item);
                        }
                    });
                    // add bg-info class
                    $('.progress-bar').addClass('bg-info');

                    // disable reset button
                    $('button[type="reset"]').prop('disabled', true);
                    // disable pause button
                    $('button[type="pause"]').prop('disabled', true);
                } else if (data.application_state.application_state_code == 2) {
                    // remove spinning icon and add upload icon
                    $('button[type="submit"]').html('Upload <i class="fas fa-upload"></i>');
                    // remove d-none class if present
                    if ($('#progress-bar-container').hasClass('d-none')) {
                        $('#progress-bar-container').removeClass('d-none');
                    }
                    // set d-flex class if not present
                    if (!$('#progress-bar-container').hasClass('d-flex')) {
                        $('#progress-bar-container').addClass('d-flex');
                    }
                    // update progress bar to data.progress
                    $('.progress-bar').css('width', data.progress + "%");
                    // update status
                    $('#progress-status').text(data.completed + ' / ' + data.total);

                    b_list = ['bg-success', 'bg-info', 'bg-warning', 'bg-danger', 'bg-dark', 'bg-primary', 'bg-secondary'];

                    // remove all classes from progress bar
                    b_list.forEach(function (item, index) {
                        if ($('.progress-bar').hasClass(item)) {
                            $('.progress-bar').removeClass(item);
                        }
                    });
                    // add bg-info class
                    $('.progress-bar').addClass('bg-dark');

                    // disable upload button
                    $('button[type="submit"]').prop('disabled', true);
                    // enable pause and reset button
                    $('button[type="pause"]').prop('disabled', false);
                    $('button[type="reset"]').prop('disabled', false);

                    // replace pause buttone text to pause and icon to pause
                    $('button[type="pause"]').html('Pause <i class="fas fa-pause"></i>');
                } else if (data.application_state.application_state_code == 3) {
                    // remove spinning icon and add upload icon
                    $('button[type="submit"]').html('Upload <i class="fas fa-upload"></i>');
                    // remove d-none class if present
                    if ($('#progress-bar-container').hasClass('d-none')) {
                        $('#progress-bar-container').removeClass('d-none');
                    }
                    // set d-flex class if not present
                    if (!$('#progress-bar-container').hasClass('d-flex')) {
                        $('#progress-bar-container').addClass('d-flex');
                    }
                    // update progress bar to data.progress
                    $('.progress-bar').css('width', data.progress + "%");
                    // update status
                    $('#progress-status').text(data.completed + ' / ' + data.total + ' (Paused)');

                    b_list = ['bg-success', 'bg-info', 'bg-warning', 'bg-danger', 'bg-dark', 'bg-primary', 'bg-secondary'];

                    // remove all classes from progress bar
                    b_list.forEach(function (item, index) {
                        if ($('.progress-bar').hasClass(item)) {
                            $('.progress-bar').removeClass(item);
                        }
                    });
                    // add bg-info class
                    $('.progress-bar').addClass('bg-warning');

                    // disable upload button
                    $('button[type="submit"]').prop('disabled', true);
                    // enable pause and reset button
                    $('button[type="pause"]').prop('disabled', false);
                    $('button[type="reset"]').prop('disabled', false);

                    // replace pause buttone text to resume and icon to play
                    $('button[type="pause"]').html('Resume <i class="fas fa-play"></i>');
                } else if (data.application_state.application_state_code == 4) {
                    // remove spinning icon and add upload icon
                    $('button[type="submit"]').html('Upload <i class="fas fa-upload"></i>');
                    // remove d-none class if present
                    if ($('#progress-bar-container').hasClass('d-none')) {
                        $('#progress-bar-container').removeClass('d-none');
                    }
                    // set d-flex class if not present
                    if (!$('#progress-bar-container').hasClass('d-flex')) {
                        $('#progress-bar-container').addClass('d-flex');
                    }
                    // update progress bar to data.progress
                    $('.progress-bar').css('width', "100%");
                    // update status
                    $('#progress-status').text('Completed');

                    b_list = ['bg-success', 'bg-info', 'bg-warning', 'bg-danger', 'bg-dark', 'bg-primary', 'bg-secondary'];

                    // remove all classes from progress bar
                    b_list.forEach(function (item, index) {
                        if ($('.progress-bar').hasClass(item)) {
                            $('.progress-bar').removeClass(item);
                        }
                    });
                    // add bg-info class
                    $('.progress-bar').addClass('bg-success');

                    // disable upload, pause
                    $('button[type="submit"]').prop('disabled', true);
                    $('button[type="pause"]').prop('disabled', true);
                    // enable reset button
                    $('button[type="reset"]').prop('disabled', false);
                }

                if (data.all_product.length > 0){
                    $('#product_table_body').empty();
                    html = "";
                    $.each(data.all_product, function (index, value) {
                        // console.log('value :>> ', value);
                        html += '<tr>';
                        html += '<td>' + value.sku + '</td>';
                        if (value.is_completed == 1){
                            html += '<td><span class="text-secondary"><i class="fas fa-spinner fa-spin"></i> In Progress</span></td>';
                        } else if (value.is_completed == 2){
                            html += '<td><span class="text-warning"><i class="fas fa-exclamation-circle"></i> Paused</span></td>';
                        } else if (value.is_completed == 3){
                            html += '<td><span class="text-danger"><i class="fas fa-times-circle"></i> Error</span></td>';
                        } else {
                            html += '<td><span class="text-secondary"><i class="fas fa-spinner fa-spin"></i> In Progress</span></td>';
                        }
                        html += '<td>' + value.error_message + '</td>';
                        html += '</tr>';
                    });
                    $('#product_table_body').append(html);
                } else {
                    $('#product_table_body').empty();
                    html = "";
                    html += '<tr>';
                    html += '<td colspan="3">No Data Found</td>';
                    html += '</tr>';
                    $('#product_table_body').append(html);
                }
                // iterate over data.all_products and update table

                // set time out to call updateProgress() again
                setTimeout(function () {
                    updateProgress();
                }, 3000);

            },
            cache: false,
            contentType: false,
            processData: false
        });
    }
    function updatefilelist() {
        // make ajax call to get list of files
        $.ajax({
            url: '/output-files',
            type: 'GET',
            success: function (data) {
                // console.log(data);
                // update file list
                // iterate over data and append each list item 
                $('#filelist').empty();
                html = "";

                $.each(data.files, function (index, value) {
                    console.log('value :>> ', value);
                    html += `
                            <li>
                                <div class="row">
                                    <div class="col-1">
                                        <img class="excel-icon" src="static/image/excel_icon.png" alt="">
                                    </div>
                                    <div class="col-8 d-flex justify-content-start align-items-center">
                                        <strong>
                                            ${value.name}
                                        </strong>
                                        <small class="ms-2">
                                            ${value.last_modified}
                                        </small>
                                        <!-- ṇew badge -->
                                        ${value.is_new ? '<span class="badge bg-success ms-2">New</span>' : ''}
                                    </div>
                                    <div class="col-3 d-flex justify-content-end align-items-center m-0">
                                        <!-- download icon  -->
                                        <a href="/static/output/${value.name}" download class="action-link">
                                            <i class="fas fa-download"></i>
                                        </a>
                                        <!-- to delete the file  -->
                                        <a class="delete-link action-link ms-1" data-filename="${value.name}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                    `;
                });

                if (!data.files.length && data.files.length <= 0) {
                    html += '<li>No files found</li>';
                }
                $('#filelist').append(html);
                // if status is not finished, call updateProgress() again
                if (data.status != 'completed') {
                    // sleep for 1 second 
                    setTimeout(function () {
                        updatefilelist();
                    }, 4000);
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }
    updatefilelist();
    updateProgress();
</script>
{% endblock body %}